[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "public/drift"]
   path = public/drift
   url = https://github.com/dmlekuz/drift.git